[Unit]
Description=Create host-shim MacVLAN interface
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip link add host-shim link ens18 type macvlan mode bridge
ExecStart=/sbin/ip link set host-shim address 02:42:AC:11:00:00
ExecStart=/sbin/ip addr add 192.168.1.183/32 dev host-shim
ExecStart=/sbin/ip link set host-shim up
ExecStart=/sbin/ip route add 192.168.1.185 dev host-shim
ExecStop=/sbin/ip link del host-shim
ExecStop=/sbin/ip route del 192.168.1.185 dev host-shim

[Install]
WantedBy=multi-user.target
